.desktop-icons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 0 0 90px;
}

.desktop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  font-size: .8rem;
  text-decoration: none;
  cursor: pointer;

  user-select: none;
}

.desktop-icon span {
    margin-top: 4px;
    color: white;
    padding: 2px 4px;
    text-align: center;
}

.desktop-icon.selected span{
    background: #000080;
    color: white;
}

.desktop-icon img {
  width: 40px;
  margin-bottom: .5rem;
}