:root {
    --win98-grey: #818181;
    --win98-light-grey: #c3c3c3;
    --win98-white: #fdffff;
    --win98-black: #000000;

    --win98-dark-blue: #010081;
    --win98-teal: #008080;
    --win98-pink: #ff0081;

    --bevel-raised:
        inset 1px 1px 0 var(--win98-white),
        inset -1px -1px 0 var(--win98-grey),
        inset 2px 2px 0 var(--win98-light-grey),
        inset -2px -2px 0 var(--win98-black);

    --bevel-presed:
        inset -1px -1px 0 var(--win98-white),
        inset 1px 1px 0 var(--win98-grey),
        inset -2px -2px 0 var(--win98-light-grey),
        inset 2px 2px 0 var(--win98-black);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "MS Sans Serif";
    src: url("../assets/fonts/MS\ Sans\ Serif.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
    user-select: none;

    font-family: "MS Sans Serif", Tahoma, sans-serif;
}

::selection {
    background: var(--win98-dark-blue);
    color: var(--win98-white);
}