.welcome-button {
  margin-top: 1rem;

  padding: .5rem 1rem;

  background: #c0c0c0;

  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;

  cursor: pointer;
}