/* Taskbar styling */
.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 40px;

    background: #c0c0c0;

    display: flex;
    align-items: center;

    padding: 3px;

    border-top: 2px solid white;

    box-sizing: border-box;

    z-index: 1000;
}

/* The buttons */
.task-links {
    display: flex;
    gap: 4px;

    margin-left: 8px;
}

.task-button {
    display: flex;
    align-items: center;

    gap: 6px;
    padding: 5px 10px;

    background: #c0c0c0;

    text-decoration: none;
    color: black;

    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;

    font-family: Tahoma, sans-serif;
    font-size: 14px;
}

.task-button:hover {
    background: #d4d0c8;
}

/* Click Animation */
.task-button:active {
    border-top: 2px solid #808080;
    border-left: 2px solid #808080;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

/* Icon Styling */
.task-button img {
    width: 18px;
    height: 18px;
}