.desktop-icons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 0 0 90px;
}

.desktop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--win98-white);
  font-size: .8rem;
  text-decoration: none;
  cursor: pointer;

  user-select: none;
}

.desktop-icon span {
    margin-top: 4px;
    color: var(--win98-white);
    padding: 2px 4px;
    text-align: center;
}

.desktop-icon.selected span{
    background: var(--win98-dark-blue);
    color: var(--win98-white);
}

.desktop-icon img {
  width: 40px;
  margin-bottom: .5rem;
}

.desktop-icon.open img {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: var(--bevel-pressed);
  padding: 4px;
}

.desktop-icon.open span {
  outline: 1px dotted var(--win98-white);
  outline-offset: 1px;
}